[mysqld] 

query_cache_size=0 
binlog_format=ROW 
default_storage_engine=InnoDB 
innodb_doublewrite=1
innodb_autoinc_lock_mode=2 
query_cache_type=0 
bind-address=0.0.0.0 

# Galera Provider Configuration
wsrepprovider=/usr/lib/galera/libgalera_smm.so 
#wsrepprovideroptions="gcache.size=32G"

# Galera Cluster Configuration
wsrep_cluster_name="CLUSTERNAME" 
wsrep_cluster_address="gcomm://IPLIST" 

# Galera Synchronization Congifuration
wsrep_sst_method=rsync 
#wsrepsstauth=user:pass

# Galera Node Configuration
wsrep_node_address="MYIP" 
wsrep_node_name="MYNAME"
